In [1]:
import pandas as pd

df = pd.read_csv('../data/hiring_data.csv')
df.head()

,candidate_id,source,experience_years,skills_score,communication_score,salary_offered,offer_accepted,left_within_6_months
0,1,LinkedIn,5.4,50,90,43687,1,0
1,2,Career Page,2.3,78,76,28578,0,0
2,3,Referral,5.8,94,47,40830,1,0
3,4,Referral,6.2,84,46,69122,1,1
4,5,LinkedIn,6.1,89,53,54057,1,0

In [2]:
df.shape

(1000, 8)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   candidate_id          1000 non-null   int64
 1   source                1000 non-null   object
 2   experience_years      1000 non-null   float64
 3   skills_score          1000 non-null   int64
 4   communication_score   1000 non-null   int64
 5   salary_offered        1000 non-null   int64
 6   offer_accepted        1000 non-null   int64
 7   left_within_6_months  1000 non-null   int64
dtypes: float64(1), int64(6), object(1)
memory usage: 62.6+ KB

In [4]:
df.describe()

,candidate_id,experience_years,skills_score,communication_score,salary_offered,offer_accepted,left_within_6_months
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,5.203200,72.631000,67.173000,51833.582000,0.479000,0.250000
std,288.819436,1.966931,13.052172,15.887337,21066.336355,0.499809,0.433229
min,1.000000,0.000000,50.000000,40.000000,-7417.000000,0.000000,0.000000
25%,250.750000,3.900000,61.000000,54.000000,37957.000000,0.000000,0.000000
50%,500.500000,5.200000,73.000000,67.000000,51775.000000,0.000000,0.000000
75%,750.250000,6.500000,84.000000,81.000000,65566.750000,1.000000,0.250000
max,1000.000000,11.400000,94.000000,94.000000,116338.000000,1.000000,1.000000

In [5]:
df['source'].value_counts()

source
LinkedIn       503
Referral       298
Career Page    199
Name: count, dtype: int64

In [6]:
df['offer_accepted'].value_counts()

offer_accepted
0    521
1    479
Name: count, dtype: int64

In [7]:
df['left_within_6_months'].value_counts()

left_within_6_months
0    750
1    250
Name: count, dtype: int64